[Unit]
Description=The Home Automation Service
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=house
Restart=on-failure
RestartSec=50s
Environment="HTTPOPTS=" "HOUSEOPTS=" "OPTS="
EnvironmentFile=-/etc/default/housegeneric
EnvironmentFile=-/etc/sysconfig/housegeneric
EnvironmentFile=-/etc/default/housemech
EnvironmentFile=-/etc/sysconfig/housemech
ExecStart=/usr/local/bin/housemech $HTTPOPTS $HOUSEOPTS $OPTS

[Install]
WantedBy=multi-user.target

